* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1d0d0;
}

#displaySection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorCase {
  width: 35%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  border-bottom-right-radius: 26%;
  padding: 50px;
}

#inputSection {
  width: 80%;
  display: flex;
}

.inputStyle {
  margin-top: 5px;
  margin-right: 20px;
  width: 80%;
  height: 40px;
  border: 1px solid #d1d0d0;
  border-radius: 5px;
  padding-left: 5px;
  font-weight: 900;
  display: block;
}

.inputStyle:focus {
  outline: none;
}

label {
  font-size: 13px;
  font-family: monospace;
  display: block;
}

.errorCase {
  height: 40px;
  width: 100%;
}

.error {
  font-size: 9px;
  margin-bottom: 40px;
  color: red;
}

#dayError {
  display: none;
}
#monthError {
  display: none;
}
#yearError {
  display: none;
}

/* ============================================= */

#dividerSection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.col {
  width: 100%;
}

#calculateBtn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #874cff;
  color: #fff;
  font-size: 45px;
  padding-bottom: 40px;
  cursor: pointer;
}

#calculateBtn:focus {
  outline: none;
}

/* =============================================== */

#dataSection {
  margin-top: 50px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 31px 0;
}

.line-wrapper {
  width: 50%;
  display: flex;
}

.line {
  height: 5px;
  width: 30%;
  background-color: #874cff;
  margin: 6px 0;
  margin-right: 10px;
}

#dataTitle {
  font-size: 30px;
  font-weight: 900;
  width: 50%;
}

.data {
  font-size: 30px;
  color: #874cff;
  font-weight: 900;
}



/* =============================================== */

@media screen and (max-width: 600px) {
  .calculatorCase {
    width: 86%;
    padding: 30px 13px;
  }

  #inputSection {
    width: 100%;
  }

  .container {
    margin: 5px;
  }

  .inputStyle {
    margin-top: 5px;
    width: 100%;
  }
  /* =========================================== */

  #dividerSection {
    margin-top: 40px;
    position: relative;
  }

  #calculateBtn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
